.shapeDivider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: transparent;  
}

.shapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shapeDivider .shapeFill {
  fill: #8c3843;
}

@media (max-width: 768px) { 
  .shapeDivider svg {
    width: calc(300% + 1.3px);
    height: 150px;
  }
}